<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="{{static_url('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{static_url('bootstrap/js/jquery-3.0.0.js')}}"></script>
    <script type="text/javascript" src="{{static_url('bootstrap/js/bootstrap.min.js')}}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>
        $('document').ready(function(){
            var ID = parseInt($('#userid').html());
            var UserName = $('#username').html();
            $('#create').click(function(){
                var PlayerNumber=parseInt($('#player_number').val());
                window.location.href='/CreateRoom?ID='+ID+'&UserName='+UserName+'&PlayerNumber='+PlayerNumber
            });
            $('#join').click(function () {
                var RoomID=parseInt($('#RoomID').val());
                window.location.href='/JoinRoom?ID='+ID+'&UserName='+UserName+'&RoomID='+RoomID
            })
        })
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header col-md-4 col-md-offset-4">
                <h1>欢迎您<small id="username">{{ UserName }}</small>ID:<small id="userid">{{ID}}</small></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="form">
                    <div class="form-group">
                        <label>创建新房间：</label>
                        <input id="player_number" type="text" class="form-control input-lg" placeholder="请输入玩家人数" required>
                        <div id="create" class="btn btn-lg btn-primary btn-block col-md-4">创建</div>
                    </div>
                </form>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="form">
                    <div class="form-group">
                        <label>加入已存在的房间：</label>
                        <input id="RoomID" type="text" class="form-control input-lg" placeholder="请输入房间号" required>
                        <div id="join" class="btn btn-lg btn-primary btn-block col-md-4">加入</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>